body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blanchedalmond;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
}

h1 {
    background-color: burlywood;
    color: black;
    margin: auto;
    padding: 5%;
    border: 6px solid darkgoldenrod;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;

}

div {
    gap: 20px;
    padding: 20px;
}

li{
    list-style-type: none;
    text-align: center;
}

.notlist {
    color: saddlebrown;
    margin: 4px;
    padding: 20px;
    border: 2px solid aliceblue;
}

.list {
    color: saddlebrown;
    margin: 4px;
    padding: 14px;
    border: 4px solid aliceblue;
}

#container {
    border: 3px solid goldenrod;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}
@media (min-width: 768px) {
        #container {display: grid; grid-template-columns: 1fr 1fr;}
}